In [7]:
import numpy as np
import pandas as pd

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [3]:
pd.set_option("display.max.columns", 100)
%matplotlib inline

In [4]:
import warnings

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
warnings.filterwarnings("ignore")

In [7]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [8]:
data = pd.read_csv(DATA_URL+"adult.data.csv")
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

#### 1. How many men and women (sex feature) are represented in this dataset?

In [37]:
women = (data["sex"]=="Female").sum()
print(f"There are {women} women")

men = (data["sex"]=="Male").sum()
print(f"There are {men} men")
data_sexes = data["sex"].value_counts()

There are 10771 women
There are 21790 men

#### 2. What is the average age (age feature) of women?

In [38]:
average_female_age = data[data["sex"]=="Female"]["age"].mean()
print(f"The average age of women is {round(average_female_age, 2)}")

The average age of women is 36.86

#### 3. What is the percentage of German citizens (native-country feature)?

In [45]:
all_germans = (data["native-country"]=="Germany").sum()
everyone_else = data.shape[0]
print(f"The percentage of germans is: {round(all_germans/everyone_else*100,2)}")

The percentage of germans is: 0.42

#### 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

In [12]:
above50k_earners = data.loc[data["salary"]==">50K"]
age_mean = round(above50k_earners["age"].mean())
age_deviation = round(above50k_earners["age"].std(),1)
print(f"The mean oge of those, who earn more than 50k is: {age_mean}\nThe standard deviation is: {age_deviation}")

The mean oge of those, who earn more than 50k is: 44
The standard deviation is: 10.5

#### 5. What are the mean and standard deviation of age for those who earn less than 50K per year?

In [13]:
below50k_earners = data.loc[data["salary"]=="<=50K"]
age_mean = round(below50k_earners["age"].mean())
age_deviation = round(below50k_earners["age"].std())
print(f"The mean oge of those, who earn more than 50k is: {age_mean}\nThe standard deviation is: {age_deviation}")

The mean oge of those, who earn more than 50k is: 37
The standard deviation is: 14

#### 6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [14]:
educ_levels = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]

# Filter people with high school education or higher
high_school_plus = data[data['education'].isin(educ_levels)]

# Check if all people earning >50K have at least high school education
all_educated = above50k_earners['education'].isin(educ_levels).all()


print(all_educated)

False

#### 7. Find the maximum age of men of Amer-Indian-Eskimo race.

In [15]:
max_age_AIE = data.loc[(data["race"]=="Amer-Indian-Eskimo") & (data["sex"]=="Male"),"age"].max()
print(f"The maximum age for Amer-Indian-Eskimo men is: {max_age_AIE}")

The maximum age for Amer-Indian-Eskimo men is: 82

#### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?

#####  Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered

In [16]:
marital_status = ["Married-civ-spouse","Married-spouse-absent", "Married-AF-spouse"]
married_rich_men = above50k_earners[above50k_earners["marital-status"].isin(marital_status)]["age"].count()
rich_men = above50k_earners["age"].count()

if rich_men-married_rich_men>married_rich_men:
    print("Among single")
else:
    print("Among married")

Among married

#### 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [17]:

max_hours = data["hours-per-week"].max()
max_hours_workers = data.loc[data["hours-per-week"]==max_hours, "hours-per-week"].count()
rich_max_hours_workers = data.loc[(data["hours-per-week"]==max_hours)&(data["salary"]==">50K"), "hours-per-week"].count()
rich_percentage = round(rich_max_hours_workers/max_hours_workers*100,2)
print(rich_max_hours_workers)
print(f"The maximum number of hours a person works per week is: {max_hours}")
print(f"There are {max_hours_workers} people working max hours")
print(f"{rich_percentage}% of them are rich")

25
The maximum number of hours a person works per week is: 99
There are 85 people working max hours
29.41% of them are rich

#### 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [31]:
average_workhours_high_earners = above50k_earners.groupby(by="native-country")["hours-per-week"].mean() 
average_workhours_low_earners = below50k_earners.groupby(by="native-country")["hours-per-week"].mean() 


print(f'''High earners in Japan work {round(average_workhours_high_earners["Japan"])} hours on average,
while low earners usually work {round(average_workhours_low_earners["Japan"])} hours''')

High earners in Japan work 48 hours on average,
while low earners usually work 41 hours